
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact Ofqual prototype
      </h1>
      
      <p class="govuk-body govuk-!-font-weight-bold">Sections</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/frontdoor">Front door</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
